/*---------------Start of entire page styling-----------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  
body { /*Setting the entire body to be the Poppins font from google fonts*/
    font-family: 'Poppins', sans-serif;
}
/*---------------End of page styling-----------------*/



/*-----------------------Start of header styling------------------------*/

header {
  position: fixed;
  width: 100%;
  top: 0%;
  right: 0;
  z-index: 1000;
  padding: 20px;
  justify-content: space-between;
  background-color: #fff;
}

.backgroundsong {
  border-style: none;
  text-align: center;
  margin: auto;
}

audio {
  display: inline-block;
  width: 100px;
  height: 25px;
}

audio::-webkit-media-controls-panel {
  -webkit-justify-content: center;
  height: 25px;
}

audio::-webkit-media-controls-timeline {
  display: none !important;
}

audio::-webkit-media-controls-current-time-display {
  display: none;
}

audio::-webkit-media-controls-time-remaining-display {
  display: none;
}

audio::-webkit-media-controls-mute-button {
  display: none;
}


/*Styling the navigation bar in header*/
.navbar {
  display: flex; 
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul a:hover{
  color: #001689;
}

.nav-icon a {
  font-size: 30px;
}

.nav-icon a:hover{
  color: #001689;
}

/*End of navigation bar styling*/

/*-----------------------End of header styling------------------------*/



/*-----------------------Start of main content styling------------------------*/
a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555
}



/*-------Home page styling------*/
.container {
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}


.categories {
    margin: 70px 0;
}


.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.col-4 h2 {
  color: #FEFBEA;
  font-size: 14px;
  font-weight: 500;
}

.col-4 p {
  color: #FEFBEA;;
  font-size: 14px;
}


.title {
    text-align: center;
    margin: 0 auto 30px;
    position: relative;
    line-height: 60px;
    color: #333;
}

.title::after {
  content: '';
  background: #001689;
  width: 200px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.small-container .title {
  text-align: center;
  margin: 0 auto 30px;
  position: relative;
  line-height: 60px;
  color: #FEFBEA;
  font-weight: 500;
}


.small-container .title::after {
    content: '';
    background: white;
    width: 180px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.youtubevideo .title::after {
  content: '';
  background: #001689;
  width: 200px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.album .title::after {
  content: '';
  background: #001689;
  width: 180px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4:hover {
    transform: translateY(-5px);
}

.youtubevideo {
  background: #a5a5a5;
  align-items: center;
  padding-bottom: 50px;
}

.iframecontainer {
  display: block;
  border-style: none;
  text-align: center;
  margin: auto;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  width: 80%;
}

.youtubevideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.album {
  padding-left: 50px;
  padding-right: 50px;
}

.top-picks{
  margin: auto;
  background-color: #001689;
}
/*-------End of home page styling------*/


/*-------About page styling------*/
.about-us {
  background-color: #001689;
}

.about-us h3 {
  color: white;
}

.about-us p {
  text-align: center;
  color: white;
}

.about-us .title::after {
  content: '';
  background: white;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.col-2 {
  flex-basis: 50%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  padding-top: 50px;
  transition: transform 0.5s;
}

.col-2 img {
  width: 100%;
}

.members .title::after {
  content: '';
  background: #001689;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}


.members .container {
  position: relative;
  width: 90%;
  margin-bottom: 50px;
}

.members .image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay1 {
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 20%;
  right: 0;
  height: 10%;
  width: 10%;
  transition: 0.5s ease;
}

.overlay2 {
  position: absolute;
  top: 15%;
  bottom: 0;
  left: 35%;
  right: 0;
  height: 10%;
  width: 10%;
  transition: 0.5s ease;
}

.overlay3 {
  position: absolute;
  top: 15%;
  bottom: 0;
  left: 50%;
  right: 0;
  height: 10%;
  width: 10%;
  transition: 0.5s ease;
}

.overlay4 {
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 60%;
  right: 0;
  height: 10%;
  width: 10%;
  transition: 0.5s ease;
}

.col img {
  padding-top: 150px;
  visibility: hidden;
  opacity: 0;
  display: inline-block;
  width: 100%;
  transition: all 1s ease-out;
}

.overlay1:hover .col img {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-in;
}

.overlay2:hover .col img {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-in;
}

.overlay3:hover .col img {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-in;
}

.overlay4:hover .col img {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-in;
}




/*-------About page @media query to make it responsive------*/

@media only screen and (max-width: 800px) {
  .about-us {
    padding-top: 100px;
  }

  .members .container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  
  .col img {
    width: 100%;
    padding-top: 50px;
  }
  .overlay1 {
    height: 20%;
    width: 20%;
  }
  .overlay2 {
    height: 20%;
    width: 20%;
  }
  .overlay3 {
    height: 20%;
    width: 20%;
  }
  .overlay4 {
    height: 20%;
    width: 20%;
  }



}

/*--------End of about page styling---------*/



/*--------Merch page styling---------*/

.merch {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}


.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}

select {
  border: 1px solid #001689;
  padding: 5px;
}

select:focus{
  outline: none;
}

.merch h2 {
  color: #001689;
}
.merch p {
  color: #555;
}

.page-btn {
  margin: 0 auto 80px;
}

.page-btn span {
  display: inline-block;
  border: 1px solid #001689;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.page-btn span:hover {
  background: #001689;
  color: white;
}

@media only screen and (max-width: 800px) {
  .merch {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


/*--------End of merch page styling---------*/




/*-------Product details styling---------*/
.single-product {
  margin-top: 80px;
  padding-left: 100px;
  padding-right: 100px;
}

.single-product .btn {
  display: inline-block;
  background: #001689;
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
}

.single-product .col-2 img {
  padding: 0;
}

.single-product.col-2 {
  padding: 20px;
}

.single-product h2 {
  color: #333;
}

.single-product p {
  color: #333;
}

.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #001689;
}

input:focus {
  outline: none;
}

.single-product .bx {
  margin-left: 10px;
}

.small-img-row {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}


@media only screen and (max-width: 600px) {

.single-product .row {
  text-align: left;
}

.single-product .col2 {
  padding: 20px 0;
}

.single-product h1 {
  font-size: 26px;
  line-height: 32px;
}

.single-product {
  padding-left: 10px;
  padding-right: 10px;
}

}

/*--------End of product details styling---------*/




/*--------Cart page styling---------*/
.cart-page {
  margin: 80px auto;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 5px;
  color:white;
  background: #001689;
  font-weight: normal;
}

td {
  padding: 10px 5px;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a {
  color: #001689;
  font-size: 12px;
}

td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid #001689;
  width: 100%;
  max-width: 400px;
}

/*Targets last child of the element*/
td:last-child {          /*Make price appear on right hand side*/
  text-align: right;
}

th:last-child {         /*Make price appear on right hand side*/
  text-align: right;
}

@media only screen and (max-width: 600px) {       /*Make item Name disappear on small screen*/
.cart-info p {
  display: none;
}
.cart-page {
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
}

/*--------End of cart page styling---------*/









/*-----------------------End of main content styling------------------------*/





/*-----------------------Start of footer styling------------------------*/
footer {
    background-image: url(https://npr.brightspotcdn.com/legacy/wp-content/uploads/2022/07/the1975.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px;
    font-size: 14px;
    padding: 60px 0 20px;
}

footer a {
    color: #fff
}

footer p {
    color: #fff
}

.footer-col-1, .footer-col-2 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2 {
    flex-basis: 50%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.footer-col-1 ul {
    text-align: right;
    padding-right: 20px;
}

.footer-col-2 ul {
    text-align: left;
    padding-left: 20px;
}
/*-----------------------End of footer styling------------------------*/





/*-----------------------Making header nav bar responsive------------------------*/

/*Hiding the menu icon until 800px breakpoint*/
#menu-icon {
    font-size: 35px;
    width: 28px;
    margin-left: 5px;
    margin-bottom: 3px;
    display:none;
}


/*Using @media query to cater for smaller display*/
@media only screen and (max-width: 800px) {

  /*Make the header nav bar go into vertical mode at below 800px*/
    nav ul {
        position: absolute;
        top: 90px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;

    }
    nav ul li {
        display:block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }

    /*Make menu icon appear at below 800px*/
    #menu-icon {
        display: block;
        cursor: pointer;
    }
    
    
}

@media only screen and (max-width: 600px) {

  .logo {
    display: flex;
    position: relative;
    right: 12%;
  }
  .backgroundsong {
    display: flex;
    position: relative;
    right: 18%;
  }
  .nav-icon {
    display: flex;
    position: relative;
    right: 10%
  }


  /*Make page contents fill up the page one column at a time*/
    .top-picks .row {
        text-align: center;
    }
    .col-2, .col-3, .col-4 {
        flex-basis: 100%;
    }

    /*Make footer contents fill up in one column instead of side by side*/
    .footer-col-1 ul {
        text-align: center;
        padding-right: 0px;
    }
    
    .footer-col-2 ul {
        text-align: center;
        padding-left: 0px;
    }
    
}
/*-----------------------End nav bar header responsive------------------------*/

/*Slideshow styling*/

